<p id="notice"><%= notice %></p>

<p>
  <strong>Comtype:</strong>
  <%= @committee_type.comtype %>
</p>

<%= link_to 'Edit', edit_committee_type_path(@committee_type) %> |
<%= link_to 'Back', committee_types_path %>
