<h2>Campaign Finance Report</h2>
<h5>If you have not registered a Candidate, Committee, or Treasurer, please do so before beginning.</h5>

<%= render 'form' %>

<%= link_to 'Back', campaign_finance_infos_path %>
