<h2>Campaign Finance Report</h2>
<h5 style="color:red;">* If you have not registered a your Candidate and Treasurer, please do so before beginning.*</h5>

<%= render 'form' %>

<%= link_to 'Back', campaign_finance_infos_path %>
