<p id="notice"><%= notice %></p>

<p>
  <strong>Rptype:</strong>
  <%= @report_type.rptype %>
</p>

<%= link_to 'Edit', edit_report_type_path(@report_type) %> |
<%= link_to 'Back', report_types_path %>
