<p id="notice"><%= notice %></p>

<p>
  <strong>Adtype:</strong>
  <%= @address_type.adtype %>
</p>

<%= link_to 'Edit', edit_address_type_path(@address_type) %> |
<%= link_to 'Back', address_types_path %>
